a {
    text-decoration: none;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}



body {
    background-color: rgba(157, 237, 237, 0.618);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h1 {
    text-align: center;
}

table {
    font-size: larger;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#team-form {
    margin-left: auto;
    margin-right: auto;
    width: 800px
}

form {
    background-color: bisque;
    border: 4px solid darkgoldenrod;
    padding: 30px;
    margin: 20px
}

tr:nth-child(2n) {
    background-color: bisque;
}

td {
    color: crimson;
    border: 2px solid darkgoldenrod;
}

th {
    background-color: rgb(212, 125, 236);
    border: 2px solid darkgoldenrod
}

#teams-index {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    height: 200px
}

#teams-index > a {
    background-color: bisque;
    border: 4px solid darkgoldenrod;
    padding: 30px;
    margin: 20px;
    width: 200px
}

#games-index {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    height: 200px
}

#games-index > section {
    background-color: bisque;
    border: 4px solid darkgoldenrod;
    padding: 30px;
    margin: 20px;
    width: 200px
}

#single-team-games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

#single-team-games > section {
    background-color: bisque;
    border: 4px solid darkgoldenrod;
    padding: 30px;
    margin: 20px
}