body {
    background-color: rgba(157, 237, 237, 0.618);
}

tr:nth-child(2n) {
    background-color: bisque;
}

td {
    color: crimson;
    border: 2px solid darkgoldenrod;
}

th {
    background-color: rgb(212, 125, 236);
}

#teams-index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#teams-index > section {
    background-color: darkkhaki;
    border: 4px solid crimson;
    padding: 20px
}