a {
    text-decoration: none;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}



body {
    background-color: rgba(157, 237, 237, 0.618);
}

tr:nth-child(2n) {
    background-color: bisque;
}

td {
    color: crimson;
    border: 2px solid darkgoldenrod;
}

th {
    background-color: rgb(212, 125, 236);
}

#teams-index {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

#teams-index > a {
    background-color: bisque;
    border: 4px solid darkgoldenrod;
    padding: 30px;
    margin: 20px
}

#games-index {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

#games-index > section {
    background-color: bisque;
    border: 4px solid darkgoldenrod;
    padding: 20px;
    margin: 20px
}

#single-team-games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

#single-team-games > section {
    background-color: bisque;
    border: 4px solid darkgoldenrod;
    padding: 20px;
    margin: 20px
}