{% extends "base.html" %}

{% block content %}

<h2>{{game.team1.name}} {{game.team1_goals}} - {{game.team2_goals}} {{game.team2.name}}</h2>

{% if game.team1_goals == game.team2_goals %}

<a href="/teams/{{game.team1.id}}">{{game.team1.name}}</a> drew with <a href="/teams/{{game.team2.id}}">{{game.team2.name}}</a>, each getting 1 point.

{% elif game.team1_goals > game.team2_goals %}

<a href="/teams/{{game.team1.id}}">{{game.team1.name}}</a> beat <a href="/teams/{{game.team2.id}}">{{game.team2.name}}</a>, winning 3 points.

{% else %}

<a href="/teams/{{game.team2.id}}">{{game.team2.name}}</a> beat <a href="/teams/{{game.team1.id}}">{{game.team1.name}}</a>, winning 3 points.


{% endif %}


{% endblock %}

