<html>
    <head>
        <title>Sports League</title>
    </head>
    <body>
        <main>
            <nav>
                <ul>
                    <li><a href="/teams">Teams</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/new_team">New Team</a></li>
                    <li><a href="/new_game">New Game</a></li>
                </ul>
            </nav>
            <section id="content">
                {% block content %}

                {% endblock %}
            </section>
        </main>
    </body>
</html>