<html>
    <head>
        <title>Sports League</title>
    </head>
    <body>
        <main>
            <nav>
                <ul>
                    <li><a href="/teams"></a>Teams</li>
                    <li><a href="/games"></a>Games</li>
                    <li><a href="/new_team"></a>New Team</li>
                    <li><a href="/new_game"></a>New Game</li>
                </ul>
            </nav>
            <section id="content">
                {% block content %}

                {% endblock %}
            </section>
        </main>
    </body>
</html>